In [2]:
import pymongo
import pandas as pd 
import numpy as np

In [3]:
data = pd.read_csv('/Users/yuyunli/Downloads/jingyuan.csv')

In [4]:
# print(data)

In [17]:
data2 = np.array(data)
data2 = data2[data2[:,3].argsort()]
shape = data2.shape
print(shape)
length = shape[0]
width = shape[1]
print(data2[:12,:])

(387959, 8)
[['83bcbb58-555e-11e7-94aa-f3fb638c302d' '587b631a62de3357b0b22d33'
  'startVideo' 2147483647 nan nan 0.0 nan]
 ['83a8e704-555e-11e7-949e-8fcc1a16ded8' '5af6b5a6aea83f289269e85b'
  'startVideo' 2147483647 nan nan 0.0 nan]
 ['83bcbb58-555e-11e7-94aa-f3fb638c302d' '594061454d95b66e2537f50e'
  'startVideo' 2147483647 nan nan 76998.0 nan]
 ['83bcbb58-555e-11e7-94aa-f3fb638c302d' '5aa7cb7ab9c0b32892e2214f'
  'dragVideo' 2147483647 165501.0 194808.0 nan nan]
 ['837bc38c-555e-11e7-9482-93e059bc68e2' '5afe5f4ad2b85a2872d5ef1e'
  'startVideo' 2147483647 nan nan 0.0 nan]
 ['837bc38c-555e-11e7-9482-93e059bc68e2' '5ad13e87511dd128fbf037d6'
  'startVideo' 2147483647 nan nan 0.0 nan]
 ['83923900-555e-11e7-9490-375a9082275e' '57f7038f4548b5a70594d0d8'
  'startVideo' 2147483647 nan nan 0.0 nan]
 ['837bc38c-555e-11e7-9482-93e059bc68e2' '5af5815a3c773f289f110187'
  'dragVideo' 2147483647 0.0 28727.0 nan nan]
 ['837bc38c-555e-11e7-9482-93e059bc68e2' '5b08d2eea813c3280f5b9e5a'
  'dragVideo' 2147483647 288001.0 296798.0 nan nan]
 ['83a8e704-555e-11e7-949e-8fcc1a16ded8' '5af6b5a6aea83f289269e85b'
  'startVideo' 2147483647 nan nan 0.0 nan]
 ['837bc38c-555e-11e7-9482-93e059bc68e2' '5ad13e87511dd128fbf037d6'
  'finishVideo' 2147483647 nan nan nan nan]
 ['837bc38c-555e-11e7-9482-93e059bc68e2' '5af5815a3c773f289f110187'
  'clickVideoExit' 2147483647 nan nan 31001.0 nan]]

In [23]:
result = []
for i in range(length):
    if i%10000 == 0:
        print(i)
    ele = data2[i,:]
    find = False
    for res in result: 
#         print(res)
        if res['v_id'] == ele[0] and res['u_id'] == ele[1]:
            if ele[2] == 'dragVideo':
                if ele[4] < ele[5]:
                    res['operation'][-1]['right'].append([ele[4],ele[5]])
                else:
                    res['operation'][-1]['left'].append([ele[4],ele[5]])
            if ele[2] == 'startVideo':
                new_op = {}
                new_op['startVideo'] = ele[6]
                new_op['left'] = []
                new_op['right'] = []
                res['operation'].append(new_op)
            if ele[2] == 'clickVideoExit':
                res['operation'][-1]['Exit'] = ele[6]
            if ele[2] == 'clickProblemSubmit':
                res['operation'][-1]['correct'] = ele[7]
                
            find = True
            break
    if find == False and ele[2] == 'startVideo':
        new_data = {}
        new_data['v_id'] = ele[0]
        new_data['u_id'] = ele[1]
        new_data['operation'] = []
#         if ele[2] == 'dragVideo':
#             if ele[4] < ele[5]:
#                 new_data['operation'][-1]['right'].append([ele[4],ele[5]])
#             else:
#                 new_data['operation'][-1]['left'].append([ele[4],ele[5]])
#         if ele[2] == 'startVideo':
        new_op = {}
        new_op['startVideo'] = ele[6]
        new_op['left'] = []
        new_op['right'] = []
        new_data['operation'].append(new_op)
#         if ele[2] == 'clickVideoExit':
#             new_data['operation'][-1]['Exit'] = ele[6]
#         if ele[2] == 'clickProblemSubmit':
#             new_data['operation'][-1]['correct'] = ele[7]
        result.append(new_data)
                
# print(result)

0
10000
20000
30000
40000
50000
60000
70000
80000
90000
100000
110000
120000
130000
140000
150000
160000
170000
180000
190000
200000
210000
220000
230000
240000
250000
260000
270000
280000
290000
300000
310000
320000
330000
340000
350000
360000
370000
380000

In [28]:
print(result[9])

{'v_id': '837bc38c-555e-11e7-9482-93e059bc68e2', 'u_id': '5b08d2eea813c3280f5b9e5a', 'operation': [{'startVideo': 0.0, 'left': [], 'right': [[254001.0, 296798.0]]}, {'startVideo': 1001.0, 'left': [], 'right': []}, {'startVideo': 0.0, 'left': [], 'right': [[0.0, 252405.0], [5501.0, 71662.0], [136001.0, 286228.0]]}, {'startVideo': 979.0, 'left': [], 'right': [], 'Exit': 2001.0}, {'startVideo': 0.0, 'left': [], 'right': []}, {'startVideo': 979.0, 'left': [], 'right': []}, {'startVideo': 979.0, 'left': [], 'right': [], 'Exit': 1001.0}]}

In [14]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9],
        'try': [[1,3],[2,4],[3,3],[4,5],[3,4]]}
frame = pd.DataFrame(data)
print(frame)

   pop   state     try  year
0  1.5    Ohio  [1, 3]  2000
1  1.7    Ohio  [2, 4]  2001
2  3.6    Ohio  [3, 3]  2002
3  2.4  Nevada  [4, 5]  2001
4  2.9  Nevada  [3, 4]  2002

In [11]:
new = frame.T.to_dict()
print(new)

{0: {'pop': 1.5, 'state': 'Ohio', 'try': [1, 3], 'year': 2000}, 1: {'pop': 1.7, 'state': 'Ohio', 'try': [2, 4], 'year': 2001}, 2: {'pop': 3.6, 'state': 'Ohio', 'try': [3, 3], 'year': 2002}, 3: {'pop': 2.4, 'state': 'Nevada', 'try': [4, 5], 'year': 2001}, 4: {'pop': 2.9, 'state': 'Nevada', 'try': [3, 4], 'year': 2002}}

In [61]:
client = pymongo.MongoClient(host='localhost', port=27017)
db = client['1111']
collection = db.students
student1 = {
    'id': '20170101',
    'name': 'Jordan',
    'age': 20,
    'gender': {'right': [['male','female'],['a','b']],
               'left': [[1,3],[2,3]]}
}
 
student2 = {
     'id': '20170202',
    'name': 'Mike',
    'age': 21,
    'gender': 'male'
}
result = collection.insert_many([student1, student2])
frame = pd.DataFrame(student1)
print(frame)
new_res = frame.T.to_dict()
print(new_res)

NameError: name 'name' is not defined

In [49]:
a = collection.find({'id': '20170101'})
for ele in a:
    print(ele)
print(result)

{'_id': ObjectId('5b5823dc15be7837ebb5d60d'), 'id': '20170101', 'name': 'Jordan', 'age': 20, 'gender': 'male'}
{'_id': ObjectId('5b58258a15be7837ebb5d610'), 'id': '20170101', 'name': 'Jordan', 'age': 20, 'gender': ['male', 'female']}
{'_id': ObjectId('5b5825de15be7837ebb5d614'), 'id': '20170101', 'name': 'Jordan', 'age': 20, 'gender': [['male', 'female'], ['a', 'b']]}
{'_id': ObjectId('5b58271215be7837ebb5d617'), 'id': '20170101', 'name': 'Jordan', 'age': 20, 'gender': {'right': [['male', 'female'], ['a', 'b']], 'left': [[1, 3], [2, 3]]}}
<pymongo.results.InsertManyResult object at 0x116253348>

In [29]:
client = pymongo.MongoClient(host='localhost', port=27017)
db = client['videology']
collection = db.v1_6
final = collection.insert_many(result)